.DS_Store
*.zip

# latex
*.aux
*.log
*.synctex.gz

# Object files
*.o

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.metadata/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Code Recommenders
.recommenders/
